.slider-list {
  overflow: hidden;
}

.slider-track {
  white-space: nowrap;
  transform: translateX(0%);
  transition: 2s all;
}

.slider-slide {
  display: inline-block;
  width: 100%;
}

.slider-slide div {
  height: 200px;
  background: aqua;
  border: 1px solid black;
}

.slider-dot button {
  pointer-events: none;
}
