@import "mixins.scss";

* {
  font-family: 'Montserrat-Black', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.offset-mr {
  @include tablet {
    margin-right: -15px;
  }
}
