@import "mixins.scss";
@import "colors.scss";

* {
  font-family: 'Montserrat-Black', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.offset-mr {
  @include tablet {
    margin-right: -15px;
  }
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}
