@import "mixins.scss";
@import "colors.scss";

.movie {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;

  .popularity {
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background: $white;
    padding: 5px;
    border: 1px solid $black;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .rate {
      font-size: 10px;
    }
  }

  .poster {
    width: 100%;
    margin-bottom: 10px;
    transition: box-shadow .3s;
  }

  .wrapper {
    padding: 30px;
    border: 1px solid $black;
    margin: 0 15px;
  }

  .details {
    .overview {
      font-size: 40px;
    }

    .tags {
      margin-bottom: 10px;

      .tag {
        padding: 5px;
        background: $black;
        color: $white;
        margin: 0 5px 5px 0;
        display: inline-block;
      }
    }
  }

  @include tablet {
    width: calc(25% - 15px);
    margin-right: 15px;

    &:nth-last-col {
      margin-right: 0;
    }

    &--full-width {
      width: 100%;
      margin: 0;
    }
  }
}
